<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="cb_downloader_v2.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <cb_downloader_v2.Properties.Settings>
      <setting name="StreamlinkExecutable" serializeAs="String">
        <value>streamlink.exe</value>
      </setting>
      <setting name="UseHttpProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HttpProxyUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="UseHttpsProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HttpsProxyUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="TargetQuality" serializeAs="String">
        <value>1080</value>
      </setting>
    </cb_downloader_v2.Properties.Settings>
  </userSettings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="TraceAppender" />
      <!-- <appender-ref ref="RollingFileAppender" /> -->
    </root>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%thread] %-5level %type{1}.%method - %message%n" />
      </layout>
    </appender>
    <!-- <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender"> -->
    <!--   <file value="log.txt" /> -->
    <!--   <appendToFile value="true" /> -->
    <!--   <rollingStyle value="Size" /> -->
    <!--   <maxSizeRollBackups value="10" /> -->
    <!--   <maximumFileSize value="1MB" /> -->
    <!--   <staticLogFileName value="true" /> -->
    <!--   <layout type="log4net.Layout.PatternLayout"> -->
    <!--     <conversionPattern value="%date %-5level %logger - %message%newline" /> -->
    <!--   </layout> -->
    <!-- </appender> -->
  </log4net>
</configuration>